<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>State of computer : <span id="computer"></span></p>
    <form action="" method="">
      <input type="file" name="blend" id="blend">
      <input type="submit" value="Upload">
    </form>
    <img id="rendered"></img>
    <script src="./javascripts/index.js"></script>
  </body>
</html>
